<div class="container mt-5">
  <% @users.each do |user| %>
    <a href="/users/<%= user.id %>" class="text-decoration-none">
      <%= render 'shared/user_card', user: user %>
    </a>
  <% end %>
</div>
